<div class="row">
	<div class="span3 offsec6">
		<div class="well">
			<p><%= image_tag @pin.image(:medium), protocol: "https" %></p>
			<p><%= @pin.description %></p>
			<% if current_user == @pin.user %>
				<%= link_to 'Edit', edit_pin_path(@pin) %> |
				<%= link_to 'Back', pins_path %>
			<% end %>
		</div>
	</div>
</div>