<div class="footer">
  <small>
    <%= link_to "Pinterest Bizreach", "http://testapp-rails-heroku.herokuapp.com/" %>
    by <%= link_to "Tairo Moriyama", "hhttp://tairo.tumblr.com/" %>
  </small>
</div>